body{
font-family:mono;
font-size:x-large;
}
a{text-decoration:none;color:gray;display:block;}
a:hover{background-color:black;color:white}
HTML,BODY{cursor: url("../photoes/mouse1.gif"), auto;}
A:hover{cursor: url("../photoes/mouse2.gif"), auto;}
.li2{width:130px;display:inline-block;line-height:30px;text-transform:uppercase;text-align:center;}
#wrapper{
  width: 1226px;
  height:1080px;
  background-image: url("../photoes/1.jpg");
  background-color: white;
  margin: 0 auto;
  background-repeat:no-repeat;
}
#header{
  height: 10%;
  width: 100%;
  position:fixed;
  background-color:white;
}
#content{
  height: 40%;
  width: 100%;
}
#footer{
  height: 10%;
  width: 100%;
}
#content ul li div{
	text-align:left;
	font-size: 80%;
	co:gray;
}